.comment-form-container {
  display: block;
}

.comment-form-header-container {
  padding-bottom: 10px;
}

.location-name-container {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.4px;
}

.location-type-container {
  display: inline;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -0.4px;
  margin-right: 0.5em;
}

.comment-form-button-container {
  padding-top: 25px;
}