.popup-selected-container {
  height: 100%;
}

.popup-selected {
  position: relative;
  height: 90%;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-title {
  padding: 26px 22px 2px;
  text-align: left;
  font-size: 12px;
  display: flex;
}

.header-title-title {
  margin: 0;
  padding-right: 0.8rem;
}

.header-title-subheader {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
}

.popup-section {
  padding: 26px 22px;
  text-align: left;
  font-size: 12px;
}
