.popup-selected-container {
  height: 100%;
  display: flex !important;
}

.popup-selected {
  position: relative;
  height: 40%;
  width: 100%;
  z-index: 10;
  margin-top: auto;
  overflow: auto;
  border-radius: 10px 10px 0 0 !important;
}

.header-title {
  padding: 26px 22px 2px;
  text-align: left;
  font-size: 12px;
  display: flex;
}

.header-title-title {
  margin: 0;
  padding-right: 0.8rem;
}

.header-title-subheader {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
}

.popup-section {
  padding: 26px 22px;
  text-align: left;
  font-size: 12px;
}

@media (min-width: 600px) {
  .popup-selected {
    margin-top: inherit;
    top: 50%;
    height: 90%;
    width: 400px;
    transform: translateY(-50%);
    border-radius: 10px !important;
  }
}
