.header-title {
  padding-bottom: 2px;
  text-align: left;
  font-size: 12px;
  display: flex;
}

.header-title-title {
  margin: 0;
  padding-right: 0.8rem;
  line-height: 1.5rem;
}

.header-title-subheader {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
  color: #000 !important;
}

.popup-section {
  padding-bottom: 22px;
  text-align: left;
  font-size: 12px;
}

#popup-location-button {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #2266e3;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  width: 100%;
  margin-top: 0.8em;
  transition: background-color 0.2s ease;
}

#popup-location-button:hover {
  background-color: #1c57c6;
}

.address {
  display: flex;
  padding-top: 0.5em;
  font-size: 1.4em;
  padding-right: 8.7em;
  font-weight: lighter;
}

.address-details {
  display: flex;
  padding-top: 0.2em;
  font-size: 1.5em;
  padding-right: 1.7em;
  color: #000 !important;
}
