.App {
  text-align: center;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2vw;
}

@media (min-width: 481px) {
  .App {
    font-size: 60%;
  }
}

@media (min-width: 769px) {
  .App {
    font-size: 70%;
  }
}

@media (min-width: 1025px) {
  .App {
    font-size: 80%;
  }
}

@media (min-width: 1201px) {
  .App {
    font-size: 100%;
  }
}
