.comment-container {
  margin-bottom: 3em;
}

.comment-header-container {
  display: table;
  border-spacing: 1.5em 0;
  vertical-align: middle;
  margin: 0 -1.5em 1.5em;
}

.comment-header-leftside {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  border-collapse: collapse;
}

.comment-header-rightside {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}

.comment-header-leftside-body {
  display: table;
  border-collapse: separate;
  border-spacing: 1.5em 0;
  margin: 0 -1.5em;
}

.comment-profile-image-container {
  display: table-cell;
  border-radius: 50%;
  overflow: hidden;
}

.comment-profile-image {
  height: 4em;
  width: 4em;
  aspect-ratio: auto 1;
  vertical-align: middle;
  box-sizing: border-box;
}

.comment-user-info-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.comment-user-info {
  display: block;
  font-size: larger;
  font-weight: 700;
}

.comment-text-container {
  width: 90%;
}

.comment-text {
  margin: 0;
  font-size: smaller;
  line-height: 1.7em;
}
