.about-us-title {
  font-size: 5em;
  font-weight: bold;
  color: black;
  padding: 5%;
}

.about-us-text {
  font-size: 2em;
  padding-left: 25%;
  padding-right: 25%;
}

.about-us-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.about-us-body-parts {
  padding-top: 25px;
  color: black;
  padding-left: 30%;
  padding-right: 30%;
}

.about-us-body-top {
  font-size: 1.75em;
  padding-bottom: 10px;
  text-align: left;
  color: black;
}

.about-us-body-middle {
  text-align: left;
  font-size: 1.2em;
  color: black;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
}

.about-us-body-last {
  text-align: left;
  font-size: 1.2em;
  color: black;
  padding-bottom: 25px;
}
