.footer-1 {
  color: rgb(255, 255, 255);
  background-color: gray;
  border: 20px black;
  position: relative;
  height: 10%;
  width: 100%;
  z-index: 19919191919;
  padding: 40px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  font-size: 30px;
  padding:15px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}
/*
.link::before {
  content: " | ";
  color: white;
}

.link::after {
  content: " | ";
  color: white;
}
*/
/*
.links > a:not(:last-child)::after {
  content: " | ";
  display: block;
  position: absolute;
  height: 1.4rem;
  border-right: 2px solid white;
  right: 0px;
  top: 52%;
  transform: translateY(-50%);
}
*/