#location-section {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #eee;
}

#location-section-title-container {
  display: table-cell;
  width: 100%;
  box-sizing: border-box;
}

#location-section-title {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0 0 0.8em 0;
  color: #000;
}
