#location-page-right-column {
  display: table-cell;
  width: calc(100% / 3);
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  padding-left: 1em;
}

#sticky-sidebar {
  position: sticky;
  top: 1em;
  border: 1px solid #eee;
  border-radius: 0.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5em;
  padding: 0.5em 1em;
}

.sidebar-box {
  border-bottom: 1px solid #eee;
  padding: 0.3em;
}

.sidebar-box:last-child {
  border-bottom: none;
}
