#location-page-right-column {
  display: table-cell;
  width: calc(100% / 3);
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  padding-left: 1em;
}

#sticky-sidebar {
  position: sticky;
  top: 1em;
}

.text-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.text-box {
  border: 1px solid rgb(209, 209, 209);
  border-bottom: none;
  padding: 5px;
}
