#header-container {
  display: flex;
  padding: 1em;
  z-index: 1000;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgb(0 0 0 / 10%);
  align-items: center;
}

.header-logo-link {
  display: flex;
  background-image: url('../../images/logo32px.png');
  background-size: cover;
  width: 2em;
  height: 2em;
  margin-right: 2em;
}
