#header-container {
  display: table;
  overflow: hidden;
  padding: 1em;
  z-index: 1000;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgb(0 0 0 / 10%);
}

.location-header-sign-buttons {
  float: right;
  border-radius: 4px;
  padding: 0.6em 1.1em;
  text-decoration: none;
  transition: all 0.8s ease;
}

#location-header-signup-button {
  font-weight: 600;
  background-color: rgb(37, 55, 255);
  color: #fff;
}

#location-header-signup-button:hover {
  box-shadow: 0 0 5px #bbb;
}

#location-header-signin-button {
  box-sizing: border-box;
  margin-right: 0.8em;
  font-weight: 600;
  outline: 1px solid #aaa;
  color: #444;
}

#location-header-signin-button:hover {
  background-color: #ccc;
}

.header-logo-link {
  display: table-cell;
  width: 32px;
}

.header-logo {
  background-image: url('../../images/logo32px.png');
  width: 32px;
  height: 32px;
}