.header-container {
  position: relative;
  display: flex !important;
  align-items: center;
  height: 4em;
  padding: 1em;
  z-index: 1000;
  bottom: 0;
}

.header-text-shadow {
  transition: text-shadow 0.4s ease;
  text-shadow: 0 0 5px #999;
}

.header-text-shadow:hover {
  transition: text-shadow 0.4s ease;
  text-shadow: none;
}

.signup-button {
  font-weight: 600;
  background-color: #2537ff;
  color: #fff;
  pointer-events: all;
}

.signup-button:hover {
  transition: background-color 0.4s ease, color 0.4s ease;
  background-color: #f0f0f0;
  color: #444;
}

.signin-button {
  margin-right: 0.8em;
  font-weight: 600;
  background-color: #f0f0f0;
  color: #444;
  pointer-events: all;
}

.signin-button:hover {
  transition: background-color 0.4s ease, color 0.4s ease;
  background-color: #2537ff;
  color: #fff;
}

.sign-buttons {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.6em 1.1em;
  text-decoration: none;
  transition: all 0.8s ease;
}

@media (min-width: 769px) {
  .header-container {
    bottom: auto;
  }
}
