#write-review-page-container {
  display: table;
  margin-top: 4em;
  margin-bottom: 10em;
}

#write-review-page-inner {
  float: left;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  text-align: left;
}

%write-review-textinput {
  display: block;
  margin: 0 0 1em;
  padding: 0.4em 0.8em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
}

%write-review-textinput:focus {
  outline: none;
}

#write-review-page-inner p {
  margin-bottom: 2em;
}

#write-review-page-inner textarea {
  @extend %write-review-textinput;
  resize: vertical;
  height: 20em;
  padding: 1.5em;
}

#write-review-photos-section {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

#write-review-add-photos-container {
  @extend %write-review-textinput;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: #ddd;
  pointer-events: all;
  margin: 0;
  height: 100%;
}

#write-review-add-photos-container:hover {
  box-shadow: 0px 0px 0px 1px #aaa inset;
  border-color: #aaa;
}

#write-review-add-photos {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.0001;
}

#write-review-add-photos:hover {
  cursor: pointer;
}

.write-review-photo-container {
  position: relative;
  margin-left: 0.5em;
}

.write-review-photo-container:hover {
  cursor: pointer;
}

.write-review-photo-background {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  background-color: transparent;
  padding: 0.2em;
  vertical-align: bottom;
  inset: 0;
  overflow: hidden;
  border-radius: 0.3em;
}

.write-review-photo-delete-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 0.3em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px 2px 0;
  pointer-events: all;
}

.write-review-photo-delete-icon:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.write-review-photo-background .text-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2em;
  color: #fff;
  text-align: center;
}

#write-review-submit-button {
  color: #fff;
  background-color: #1a8ceb;
  border: 0;
  padding: 0.4em 2em;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 1em;
  text-transform: none;
}

#write-review-submit-button:hover {
  background-color: #2592ff;
}

#write-review-cancel-link {
  color: #1577da;
  text-decoration: none;
  font-size: 1em;
  margin-left: 1em;
}

#write-review-cancel-link:hover {
  text-decoration: underline;
}
